<div class="hero-container">
	<div class="layout-wrapper">
		<div class="hero-grid p-t-60 p-r-15 p-b-60 p-l-15">
			<div class="hero-text-wrapper">
				<h2>Discover your next favorite thing</h2>
				<p class="grey-text">Product Hunt surfaces the best new products, every day. It's a place for product-loving enthusiasts to share and geek out about the latest mobile apps, websites, hardware projects, and tech creations.</p>
				<div class="big-button primary">
					<span>SIGN UP</span>
				</div>
			</div>
			<div class="kitty">
				<img src="https://s3.producthunt.com/static/kitty_265x244%402x.png">
			</div>
		</div>
	</div>
</div>
